
<%#= stylesheet_link_tag "index" %>
<h1 style="font-size: 1.8em;">Сообщения</h1>
<p style="margin-bottom:0.5em;"> <u> <%= link_to 'Новое сообщение', new_post_path %> </u> </p>
<table >
  <tr>
    <th> </th>
    <th class = "header">Заголовок</th>
    <th class = "header">Содержание</th>
  </tr>

 <% @posts.each do |post| %>
 <tr>
    <td class = "small"> <i> <%= post.name %>, <%= time_created_at( post ) %> </i> </td>
    <td><%= post.title %></td>
    <td > <%= link_to post.content.split(//).first(100).join, post %> </td>
  </tr>
 <% end %> 

</table>
<%= will_paginate @posts, :renderer => WillPaginate::ActionView::LinkRenderer%>

<br>

<h2 style="font-size: 1.5em;">Свежие комментарии</h2>
<table >

 <% Comment.order('created_at desc').limit(10).each do |comment| %>
    <tr>
      <td class = "small"> <i><%= comment.commenter %>, <%= time_created_at(comment) %> </i></td>
      <td > <%= link_to comment.body.split(//).first(100).join, comment.post %> </td>
    </tr>
  
  <% end %>
</table>

<br />