
<h1 style="margin-bottom:1.5em;">Блог комнаты №219</h1>
<h2 style=" margin-bottom:0.7em;">Сообщения</h2>
<p style="margin-bottom:0.5em;"> <u> <%= link_to 'Новое сообщение', new_post_path %> </u> </p>

<%#= posts are sorted by time of creation%>
<table class="posts">
 <% @posts.each do |post| %>
  <tr>
    <td class = "name_date small"> <%= post.name %>, <%= time_created_at( post ) %>  </td>
    <td class="title"><%= post.title %></td>
    <td > <%= link_to post.content.split(//).first(90).join, post %> </td>
  </tr>
 <% end %> 
</table>

<%= will_paginate @posts, :renderer => WillPaginate::ActionView::LinkRenderer%>

<h2 style=" margin-top:1.5em; margin-bottom:0.7em;">Свежие комментарии</h2>
<%#= last 10 comments are sorted by time of creation%>
<table class="comments" >
 <% Comment.order('created_at desc').limit(10).each do |comment| %>
    <tr>

      <td class = "name_date  small"> <%= comment.commenter %>, <%= time_created_at(comment) %> </td>
      <td > <%= link_to comment.body.split(//).first(90).join, comment.post %> </td>
    </tr>
 <% end %>
</table>

