<h1>Listing posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>

<table>
 <tr>
      <td> <b>Commenter:</b> </td>
      <td> <b>Comment:</b>   </td>
      <td> <b> Post </b> </td>
 </tr>
 <% @posts.each do |post| %>
    <% post.comments.each do |comment| %>

    <tr>
      <td> <%= comment.commenter %> </td>
      <td> <%= comment.body %> </td>
      <td> <%= link_to 'Show', post %> </td>
    </tr>
  
    <% end %>
  <% end %>
</table>

<br />