
<div class="head">
<h1>Блог комнаты №219</h1>
</div>
<div class="subtitle">
<h2>Сообщения</h2>
</div>
<div class="action_link">
<%= link_to 'Новое сообщение', new_post_path %> 
</div>

<%#= posts are sorted by time of creation%>
<div class="posts_index">
<table>
 <% @posts.each do |post| %>
  <tr>
    <td class = "name_date small_font"> <%= post.name %>, <%= time_created_at( post ) %>  </td>
    <td class="message_title"><%= post.title %></td>
    <td > <%= link_to post.content.split(//).first(71).join, post %> </td>
  </tr>
 <% end %> 
</table>
<%= will_paginate @posts, :renderer => WillPaginate::ActionView::LinkRenderer%>
</div>

<div class="subtitle">
<h2>Свежие комментарии</h2>
</div>
<%#= last 10 comments are sorted by time of creation%>
<table>
 <% Comment.order('created_at desc').limit(10).each do |comment| %>
    <tr>
      <td class = "name_date"> <%= comment.commenter %>, <%= time_created_at(comment) %> </td>
      <td > <%= link_to comment.body.split(//).first(108).join, comment.post %> </td>
    </tr>
 <% end %>
</table>
 
