<h1 style="margin-bottom:0.5em;">Блог комнаты №219</h1>

<p style="margin-bottom:3em;"> <u> <%= link_to 'Показать все сообщения', posts_path %> </u> </p>

<div style="float:left; margin-right:1em;">
<h2 > <%= @post.title %> </h2>
</div>

<p style="margin-left:2em;"> <u class = "small"> <%= link_to 'Редактировать', edit_post_path(@post) %> </u> </p>

<p id="notice"><%= notice %></p>
<p class = "small">  <%= @post.name %>, <%= time_created_at(@post) %>  </p>

<p style="margin-bottom:0em; "> <%= simple_format @post.content %> </p>

<%= image_tag @post.photo.url(:medium) %>
<h3 style=" margin-bottom:0.5em; margin-top: 2.5em; ">Комментарии</h2>
<%= render "comments/list_of_comments" %>

<br>
<h3 style=" margin-bottom:0.5em; margin-top:1em;" >Добавить комментарий</h2>
<%= render "comments/form" %>

