<u> <%= link_to 'Show all posts', posts_path %> </u>
<table>
<td> <h2>Post</h2></td>
<td> <u> <%= link_to 'Edit', edit_post_path(@post) %> </u></td>
</table>


<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<h2>Comments</h2>

<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>



