<u> <%= link_to 'Показать все сообщения', posts_path %> </u>
<br>
<table >
<td style="font-size: 1.5em;
    padding-right: 0.4em;
	padding-left: 0em;
	padding-bottom: 0em;
	padding-top: 0.8em;" ><h1> <%= @post.title %> </h1></td>
<td style = "padding-bottom: 0em;
	padding-top: 0.8em;"> <u class = "small"> <%= link_to 'Редактировать', edit_post_path(@post) %> </u></td>
</table>

<p id="notice"><%= notice %></p>
<p class = "small"> <i> <%= @post.name %>, <%= time_created_at(@post) %> </i> </p>


<p> <%= @post.content %> </p>

<br>
<h2 style="font-size: 1.2em;">Комментарии</h2>
<%= render "comments/list_of_comments" %>

<br>
<h2 style="font-size: 1.2em;" >Добавить комментарий:</h2>
<%= render "comments/form" %>